@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    overscroll-behavior-y: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
